In [340]:
import pandas as pd
import numpy as np

In [341]:
%config Completer.use_jedi = False

In [367]:
players_master = pd.read_csv("run_results.csv")
players_master['player_position'].fillna('x - Unknown', inplace=True)
players_master.columns = ['player', 'cost', 'country', 'position', 'tackles', 'd_tackles', 't_breaks', 'm_ball', 'mom', 'tries', 'conversions', 'penalties', 'd_goals', 'yellow', 'red', 'm_played']
players_master.set_index('player', inplace=True)
players_master.fillna(0, inplace=True)
players_master.replace({'14:15': 0, '16:45': 0, 'Deferred': 0}, inplace=True)
players_master['position'] = players_master['position'].apply(lambda x: x.split(' - ')[1])
players_master['position'] = players_master['position'].replace({'Fullback': 'Full Back', 'Scrum-half': 'Scrum Half', 'Back-row': 'Back Row', 'Fly-half': 'Fly Half', 'Second-row': 'Second Row'})
players_master[['d_tackles', 't_breaks', 'mom']] = players_master[['d_tackles', 't_breaks', 'mom']].astype('float')
players_master.sort_index(inplace=True)
players_master.head()

,cost,country,position,tackles,d_tackles,t_breaks,m_ball,mom,tries,conversions,penalties,d_goals,yellow,red,m_played
player,,,,,,,,,,,,,,,
A. Beard,10.7,Wales,Second Row,22.0,1.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
A. Bouthier,12.4,France,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A. Conway,9.6,Ireland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A. Craig,9.6,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A. Dell,10.6,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [368]:
# players_master = players_master[['cost', 'country', 'position']]
# players_master = players_master.sort_values('country')
# players_master.to_csv("players_master.csv")

In [369]:
players_training_week1 = pd.read_csv("players_training_week1.csv", index_col='player')

players_training_week1 = pd.merge(
    players_master[['country', 'position']],
    players_training_week1[['cost', 'mins', 'tackles', 'd_tackles', 't_breaks', 'm_ball', 'mom', 'tries', 'conversions', 'penalties', 'd_goals', 'yellow', 'red', 'started', 'week', 'm_played']],
    left_index=True,
    right_index=True,
    how='left'
)

players_training_week1.insert(0, 'cost', players_training_week1.pop('cost'))
players_training_week1.fillna(0, inplace=True)
players_training_week1.head()

,cost,country,position,mins,tackles,d_tackles,t_breaks,m_ball,mom,tries,conversions,penalties,d_goals,yellow,red,started,week,m_played
player,,,,,,,,,,,,,,,,,,
A. Beard,9.9,Wales,Second Row,66.0,12.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
A. Bouthier,0.0,France,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A. Conway,0.0,Ireland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A. Craig,0.0,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A. Dell,0.0,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [370]:
players_training_week2 = players_master
players_training_week2['week'] = 2
players_training_week2.head()

,cost,country,position,tackles,d_tackles,t_breaks,m_ball,mom,tries,conversions,penalties,d_goals,yellow,red,m_played,week
player,,,,,,,,,,,,,,,,
A. Beard,10.7,Wales,Second Row,22.0,1.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2
A. Bouthier,12.4,France,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
A. Conway,9.6,Ireland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
A. Craig,9.6,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
A. Dell,10.6,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [371]:
players_test_week2 = pd.read_csv("players_test_week2.csv", index_col='player')
players_test_week2.head()

            country    position  cost  started  week  overall_score
player
A. Beard      Wales  Second Row   9.9        1     2          35.54
A. Bouthier  France   Full Back  12.4        0     2           0.00
A. Dupont    France  Scrum Half  17.8        1     2          49.98
A. Jelonch   France    Back Row  10.6        1     2          34.75
A. Jones      Wales  Second Row  13.8        1     2          31.20

In [372]:
players_training_week2 = pd.merge(players_training_week2, players_test_week2['started'], left_index=True, right_index=True, how='left')

In [373]:
# players_training_week2['mins']
players_training_week2['tackles'] = players_training_week2['tackles'] - players_training_week1['tackles']
players_training_week2['d_tackles'] = players_training_week2['d_tackles'] - players_training_week1['d_tackles']
players_training_week2['t_breaks'] = players_training_week2['t_breaks'] - players_training_week1['t_breaks']
players_training_week2['m_ball'] = players_training_week2['m_ball'] - players_training_week1['m_ball']
players_training_week2['mom'] = players_training_week2['mom'] - players_training_week1['mom']
players_training_week2['tries'] = players_training_week2['tries'] - players_training_week1['tries']
players_training_week2['conversions'] = players_training_week2['penalties'] - players_training_week1['penalties']
players_training_week2['d_goals'] = players_training_week2['d_goals'] - players_training_week1['d_goals']
players_training_week2['yellow'] = players_training_week2['yellow'] - players_training_week1['yellow']
players_training_week2['red'] = players_training_week2['red'] - players_training_week1['red']
players_training_week2['m_played'] = players_training_week2['m_played'] - players_training_week1['m_played']

players_training_week2.head()

,cost,country,position,tackles,d_tackles,t_breaks,m_ball,mom,tries,conversions,penalties,d_goals,yellow,red,m_played,week,started
player,,,,,,,,,,,,,,,,,
A. Beard,10.7,Wales,Second Row,10.0,1.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.0
A. Bouthier,12.4,France,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0
A. Conway,9.6,Ireland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,NaN
A. Craig,9.6,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,NaN
A. Dell,10.6,Scotland,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,NaN

In [374]:
players_training_week2.dropna(subset=['started'], inplace=True)

In [375]:
def mins_estimator(started):
    """
    
    """
    
    df = players_training_week1
    
    if started == 1:
        return df[(df['started'] == 1)]['mins'].mean()
    else:
        return df[(df['started'] == 0) & (df['mins'] != 0)]['mins'].mean()

In [376]:
players_training_week2['mins'] = players_training_week2['started'].apply(lambda x: mins_estimator(x))

In [377]:
players_training_week2 = players_training_week2[['cost', 'country', 'position', 'mins', 'tackles', 'd_tackles',
       't_breaks', 'm_ball', 'mom', 'tries', 'conversions', 'penalties',
       'd_goals', 'yellow', 'red', 'started', 'week', 'm_played']]

In [378]:
players_training_week2.head()

,cost,country,position,mins,tackles,d_tackles,t_breaks,m_ball,mom,tries,conversions,penalties,d_goals,yellow,red,started,week,m_played
player,,,,,,,,,,,,,,,,,,
A. Beard,10.7,Wales,Second Row,67.573034,10.0,1.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.0
A. Bouthier,12.4,France,Unknown,22.824490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0
A. Dupont,18.0,France,Scrum Half,67.573034,12.0,0.0,2.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.0
A. Jelonch,11.5,France,Back Row,67.573034,8.0,2.0,1.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.0
A. Jones,14.1,Wales,Second Row,67.573034,12.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.0

In [379]:
players_training_week2.to_csv("players_training_week2.csv")